body { background: #9c37d8; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-user-0 { color: #89a05d; font-size: 18px; margin-bottom: 5px; }
.block-uploader-1 { color: #73ffd5; font-size: 20px; margin-bottom: 5px; }
.block-user-2 { color: #6ee118; font-size: 17px; margin-bottom: 5px; }
.block-notify-3 { color: #c7b4c4; font-size: 17px; margin-bottom: 5px; }
.block-router-4 { color: #cb6646; font-size: 18px; margin-bottom: 5px; }
.block-search-5 { color: #477631; font-size: 20px; margin-bottom: 5px; }
.block-uploader-6 { color: #c3d902; font-size: 16px; margin-bottom: 5px; }
.block-session-7 { color: #f47a78; font-size: 15px; margin-bottom: 5px; }